@import url('css.css');
body{
    padding: 0;
    margin: 0;
    font-family: "Open sans",Helvetica,Arial,sans-serif;
}
b{
    color: #662091;
}
.main-wrapper{
    background-image: url('../images/fon.gif');
}
.bg-white{
    background-color: #fff;
    text-align: center;
    box-sizing: border-box;
    padding: 0 10px;
}
.ssba_sharecount {
    font: 11px Arial, Helvetica, sans-serif;
    margin-right: 7px;
    padding: 5px;
    -khtml-border-radius: 6px;
    -o-border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    position: relative;
    border: 1px solid #e0dddd;
    color: #555e58;
    background: #ffffff;
}
.ssba, .ssba a {
    text-decoration: none;
    border: 0;
    background: none;
    font-weight: bold;
}
.ssba a:hover{
    text-decoration: none;
}
.ssba img {
    width: 40px !important;
    padding: 0;
    border: 0;
    box-shadow: none !important;
    display: inline !important;
    vertical-align: middle;
}
.ssba_sharecount:after, .ssba_sharecount:before {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.ssba_sharecount:before {
    border-color: rgba(85, 94, 88, 0);
    border-right-color: #e0dddd;
    border-width: 6px;
    top: 50%;
    margin-top: -6px;
}
.ssba_sharecount:after {
    border-color: rgba(224, 221, 221, 0);
    border-right-color: #f5f5f5;
    border-width: 5px;
    top: 50%;
    margin-top: -5px;
}
.ssba_sharecount:after {
    border-right-color: #ffffff;
}
img{
    max-width: 100%;
}
a {
    color: #662091;
    text-decoration: none;
}
a:hover, a:focus {
    color: #662091;
    text-decoration: underline;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
}
header{
    background-color: #000;
}
.pl-lg{
    max-width: 180px;
}
.lg{
    max-width: 100px;
}
.text{
    display: inline-block;
    width: 69%;
    padding-bottom: 50px;
    text-align: left;
    text-align: justify;
}
.sidebar{
    display: inline-block;
    width: 29%;
    vertical-align: top;
    padding: 20px 0 0 40px;
    box-sizing: border-box;
    text-align: left;
}
.sidebar center{
    margin-top: 20px;
}
.banner-btn{
    width: 150px;
    padding: 15px 25px;
    margin: 0 auto;
    border-radius: 5px;
    cursor: pointer;
    background-color: #e02860;
    color: #fff;
    transition: all .4s ease;
}
.banner-btn:hover{
    background-color: #eb054b;
    transform: scale(1.1);
}
.photos{
    margin-top: 15px;
}
.menu{
    background-color: #662091;
    padding: 10px 0
}
.menu-item{
    display: inline-block;
    margin: 0 20px;
}
.menu-item a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}
#hdr{
    background-color: #662091;
    color: #fff;
    font-size: 22px;
    margin: 0;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 10px 0;
    z-index: 9999;
}
#ftr{
    background-color: #4e4e4e;
    margin: 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 10px 0;
}
.ftr-btn{
    background-color: #e02860;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
}
#ftr, #hdr{
    display: none;
}
.plb-logo{
    float: right;
}
.logo-top{
    max-width: 150px;
    float: left;
    margin-right: 20px;
    transl
}
.logo-head{
    color: #662091;
    font-size: 46px;
    margin: 0;
    padding: 0;
}
.logo-head-small{
    color: #fff;
    font-size: 25px;
    margin: 0;
}
.clearfix::after{
    content: " ";
    display: block;
    width: 100%;
    height: 0;
    visibility: hidden;
    clear: both;
}
.mw300 img{
    max-width: 400px;
}
.comment{
    border-bottom: 1px solid gray;
}
.comm-ava{
    float: left;
    border-radius: 50%;
    overflow: hidden;
}
.comm-body{
    margin-left: 80px;
}
.comm-name{
    font-weight: 700;
}
.ord-btn{
    width: 150px;
    padding: 15px 25px;
    margin: 0 auto;
    border-radius: 5px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    background-color: #e02860;
    transition: all .4s ease;
}
.ord-btn:hover{
    color: #fff;
    text-decoration: none;
    background-color: #eb054b;
    transform: scale(1.1);
}
.burger{
    display: none;
    text-align: center;
}
.burger img{
    max-width: 30px;
}
.comm-body img{
    max-width: 400px;
}
@media screen and (max-width: 850px){
    .menu-item a{
        font-size: 16px;
    }
    .ord-btn{
        width: 130px;
    }
}
@media screen and (max-width: 767px){
    .main-wrapper{
        background-image: none;
    }
    .mw300 img{
        max-width: 100%;
    }
    .burger{
        display: block;
    }
    .plb-logo {
        float: none;
        text-align: center;
    }
    .main-wrapper{
        padding: 0 10px;
    }
    .container{
        width: 100%;
    }
    .lg{
        max-width: 80px;
    }
    .text{
        width: 100%;
    }
    .sidebar,
    .menu-item{
        display: none;
    }
    .logo-top{
        margin: 0 auto;
        text-align: center;
    }
    .logo-head{
        text-align: center;
        font-size: 26px;
        padding-top: 15px;
    }
    .logo-head-small{
        text-align: center;
        font-size: 15px;
    }
    .comm-body img{
        max-width: 100%;
    }
    #hdr{
        left: 0;
        font-size: 18px;
    }
}